.rightSidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #0F0F0F;
    overflow-y: auto;
    padding: 20px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    .tab{
      display: flex;
    }
  }

  