.longSong {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    min-height: 75px;
    &:hover {
        background-color: rgb(35, 30, 110, 0.8);
    }
    &:hover img {
        opacity: 0.7;
    }
    .imageContainer {
        position: relative;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 0;
        & :hover {
            cursor: pointer;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        .playButtonContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s;
            z-index: 2;
        }
        &:hover .playButtonContainer {
            opacity: 1; /* Show the play button on hover */
        }

        .playButton {
            color: #ffffff;
        }
        .playButton:hover {
            cursor: pointer;
            color: #04aefe;
        }
    }

    .infoContainer {
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;

        .name {
            width: fit-content;
            font-size: 15px;
            font-weight: 500;
            color: #ffffff;

            --max-lines: 2;
            display: -webkit-box;
            -webkit-line-clamp: var(--max-lines);
            -webkit-box-orient: vertical;
            overflow: hidden;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: #04aefe;
            }
        }
        .artistList {
            display: flex;
            width: 100%;
            overflow: hidden;

            .artist {
                font-size: 1.2rem;
                font-weight: 500;
                margin-right: 5px;

                --max-lines: 1;
                display: -webkit-box;
                -webkit-line-clamp: var(--max-lines);
                -webkit-box-orient: vertical;
                overflow: hidden;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: #04aefe;
                }
            }
        }
    }
    .durationContainer {
        width: 5%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        .duration {
            font-size: 13px;
            font-weight: 400;
            color: #c5c5c5;
        }
    }
    .albumContainer {
        width: 35%;
        height: 55px;
        display: flex;
        margin: 0 0 0 5%;
        justify-content: flex-start;
        align-items: center;
        .album {
            font-size: 13px;
            font-weight: 400;
            color: #c5c5c5;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: #04aefe;
            }
        }
    }
    .buttonsContainer {
        width: 10%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .likeButton {
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
            & :hover {
                cursor: pointer;
                color: #04aefe;
            }
        }
        .optionsButton {
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
            & :hover {
                cursor: pointer;
                color: #04aefe;
            }
        }
        .deleteButton {
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
            & :hover {
                cursor: pointer;
                color: #04aefe;
            }
        }
    }
}
