.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the layout fills the entire viewport */
}

.top {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* Enable scrolling within the middle content area */
}

.left {
    width: 250px; /* Adjust the width of the left sidebar */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.headerAndContent {
    position: absolute;
    left: 250px;
    margin: 0 320px 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(
        100% - 570px
    ); /* Adjust the width to leave space for the left sidebar */
}

.header {
    width: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 0;
    margin: 0 20px 100px 40px;
    height: calc(100% - 180px);
}

.left,
.header,
.footer {
    z-index: 1; /* Ensure these elements are above the middle content */
}

.bottom {
    width: 100%;
}

.left,
.right {
    /* Add any additional styles for the left and right sidebars as needed */
}
