.mediumSong {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 180px;
    height: 200px;
    max-height: 200px;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(134, 134, 134, 0.26);
    }
    &:hover .playButton {
        opacity: 1;
    }
    &:hover img {
        opacity: 0.7;
    }
    .songImageContainer {
        position: relative;
        width: 120px;
        height: 120px;
    }
    .songImage {
        position: relative;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .playButton {
        position: absolute;
        top: 50%;
        right: 50%;
        opacity: 0;
        color: #fff;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        & :hover {
            color: #04aefe;
        }
    }

    .info {
        margin-left: 10px;
        width: 100%;
        overflow: hidden;

        .songName {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 600;
            color: #fff;
            padding: 0 0 0 10px;

            --max-lines: 1;
            display: -webkit-box;
            -webkit-line-clamp: var(--max-lines);
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        @keyframes slide-left {
            from {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            to {
                -webkit-transform: translateX(-300%);
                transform: translateX(-300%);
            }
        }
        .songName:hover {
            display: flex;
            flex-wrap: nowrap;
            overflow: visible;
            white-space: nowrap;
            color: #04aefe;
            text-decoration: underline;
            animation: slide-left 20s linear infinite;
        }

        .artist {
            font-size: 1.2rem;
            font-weight: 400;
            color: #fff;
            padding: 0 0 0 10px;

            --max-lines: 1;
            display: -webkit-box;
            -webkit-line-clamp: var(--max-lines);
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .artist:hover {
            display: flex;
            flex-wrap: nowrap;
            overflow: visible;
            white-space: nowrap;
            color: #04aefe;
            text-decoration: underline;
            animation: slide-left 20s linear infinite;
        }
    }
}
