.chatBoxContainer {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    .chatBox {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        position: absolute;
        bottom: 0;
        gap: 10px;
        background-color: var(--level-1);
        padding: 10px;
        overflow-y: scroll;
        scrollbar-width: none;
    }
}
