// @import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
    --primary-bg: #ffd400;
    --primary-bg-btn: #ffac0a;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    // background-color: #0f0f0f;

    background-repeat: no-repeat;
    background-size: cover;
    text-rendering: optimizeSpeed;
    color: #fff;

    &.show-scrollbar::-webkit-scrollbar {
        width: 12px;
    }
    &.show-scrollbar::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}
svg {
    color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

svg {
    display: inline-block;
    font-size: 1.5rem;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #5a5a5a;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #525252;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #242424;
}

.swiper {
    width: 100%;
    padding: 0 30px 0 0;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.swiper-wrapper {
}

.custom_next,
.custom_prev {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-color: rgba(83, 83, 83, 0.301);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.145);
    }
}
.btn_disabled {
    opacity: 0.4;
}
